# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

               year
count  32079.000000
mean    2017.864740
std        3.447658
min     1997.000000
25%     2017.000000
50%     2019.000000
75%     2020.000000
max     2025.000000